/* Modal Styles */
.modal-overlay {
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: white;
}

.modal-close {
    padding: 12px 30px;
    background-color: #15aece;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-close:hover {
    background-color: #0391bf;
    transform: translateY(-3px); /* Slight hover effect */
}
